# Markdownファイルを除外
*.md

# 特定のMarkdownファイルを含める
!README.md

# dataディレクトリ内のMarkdownファイルのみを除外（サンプルディレクトリを除く）
data/**/*.md
!data/サンプル/**/*.md

# powershell_policy_before_change.txtファイルを除外
tools/powershell_policy_before_change.txt

# testフォルダ配下のすべてのファイルとディレクトリを除外
test/**

# settings.xmlファイルを除外
config/settings.xml

